* {
  margin: 0;
  padding: 0;
}
:root {
  color: white;
  text-align: center;
  background: url(./media/background1.png) no-repeat center center fixed;
  background-size: cover;
  font-size: 2em;
}
.header {
  background-color: rgba(25, 75, 0, 0.9);
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.7rem;
}
.matrix-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row-numbers {
  flex-direction: column;
}
.alphalist,
.empty {
  background-color: rgba(10, 82, 0, 0.479);
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
}
.empty {
  font-size: 0.7em;
}
.matrix-frame {
  display: grid;
  width: 60vw;
  grid-template-columns: 1fr 20fr;
  grid-template-rows: 1fr 15fr;
}
.matrix {
  background-color: rgb(97, 52, 0);
  border: 3px solid black;
  border-radius: 20px;
  padding: 1rem;
}
.buttons > * {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 0.5rem;
}
.find-path:hover,
.generate-button:hover {
  background-color: rgb(49, 36, 13);
  color: white;
  transform: scale(1.1);
}
.results {
  background-color: rgba(63, 39, 17, 0.9);
}
.results > * {
  padding: 0.3rem;
}
.footer {
  background-color: rgba(63, 46, 31, 0.7);
  padding: 0.7rem;
}
.source {
  color: gray;
  padding: 0.1rem;
}
/*matrix setup*/

.matrix {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}

/* js classes */
.matrix-element {
  background-color: rgb(106, 80, 255);
  width: 100%;
  justify-self: center;
  text-align: center;
  color: white;
  font-size: 0.7em;
}

/*media queries*/

@media (max-width: 1000px) {
  .matrix-frame{
    width:75vw;
  }
  .matrix-container{
    margin-bottom: 5rem;
  }
}
