* {
  margin: 0;
  padding: 0;
}
html {
  color: white;
  text-align: center;
  background: url(./assets/background1.png) no-repeat center fixed;
  background-size: cover;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: rgba(25, 75, 0, 0.9);
  margin-bottom: 1em;
}
.heading {
  padding: 0.2em;
  border-bottom: 1px solid gray;
}
.main {
  flex: 1;
}
.matrix-heading {
  padding: 0.5em;
  font-size: 1.1em;
}
.matrix-frame {
  margin: 0 auto;
  display: grid;
  max-width: max-content;
  grid-template-columns: max-content auto;
  border: 3px solid black;
}
.alphalist,
.empty {
  background-color: rgba(10, 82, 0, 0.479);
  display: flex;
  justify-content: space-evenly;
}

.row-numbers {
  flex-direction: column;
}
.column-numbers {
  align-items: center;
}
.empty {
  padding: 0.5rem;
}
.matrix {
  background-color: rgb(97, 52, 0);
  border-top: 2px solid black;
  border-left: 2px solid black;
  padding: 1rem;
}

.buttons > * {
  padding: 0.5rem;
  margin: 0.5rem;
}
.buttons > *:hover {
  background-color: rgb(49, 36, 13);
  color: white;
  transform: scale(1.1);
}
.results {
  background-color: rgba(36, 22, 10, 0.9);
  padding: 0.3rem;
}
.results > * {
  padding: 0.3rem;
}

.copyright {
  background-color: rgb(14, 14, 14);
  padding: 0.7rem;
  border-top:1px solid white;
}
.source {
  color: white;
  padding: 0.1rem;
}

/*matrix setup*/
.matrix {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1em;
}

/* js classes */
.matrix-element {
  background-color: rgb(106, 80, 255);
  width: 3em;
  aspect-ratio: 1;
  justify-self: center;
  text-align: center;
  color: white;
}

/*media queries*/
@media (max-width: 750px) {
  .matrix-element {
    width: 1.5em;
  }
}
